<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kurukshetrauniversitypapers">

    <application
        android:allowBackup="true"
        android:icon="@drawable/kurukshetrauniversity"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".WelcomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Cse_secondsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_thirdesem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_fourthsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_fifthsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_sixthsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_seventhsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_eightsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Cse_firstsem_subjectlist"
            android:screenOrientation="portrait" />
        <activity android:name=".Pdflist" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Btech_expendable_list" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>